.carousel-item {
    height: 97vh;
    background-color:black;
    color: white;
    position: relative;
}
.item-container{
   position: absolute;
   bottom: 0;
   left: 100;
   right: 0;
   padding-bottom: 100px;
}

.overlay-image{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: .5;
}

#cs-id{
    height: 30rem;
    position: relative;
    background-color: black;  
    text-align: center;
}
.cs-img{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: .4;
}
.cs-btn{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 100px;
}
